<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="sampleApp">
<head>
    <title></title>
    <link href="Css/WorldSync.css" rel="stylesheet" />
    <link href="Jscript/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <script src="Jscript/jquery-1.11.3.min.js"></script>
    <script src="Jscript/bootstrap-3.3.5/js/bootstrap.min.js"></script>
      <!-- load angular via CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>    
    <script src="Jscript/app.js"></script>    
</head>
<body ng-controller="mainController">
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        {{ message }}

        <!-- angular templating -->
        <!-- this is where content will be injected -->
    </div>
    <header>
        <div class="container" style="width: 970px !important; padding-top: 10px">
            <!--<nav class="navbar navbar-Custom">-->
            <div class="container-fluid" style="float:left;">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <img src="Images/logo.png" />
                    </div>
                </div>
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#NavMenu" aria-expanded="false" style="float:right">
                    <span class="glyphicon glyphicon-envelope"></span>
                </button>-->
            </div>
            <div class="navbar-collapse collapse paddingtop20px" id="NavMenu" style="float:right">
                 <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#NavMenu" aria-expanded="false">
                    <span class="glyphicon glyphicon-envelope"></span>
                </button>-->
                <!--<ul class="nav navbar-nav navbar-right">
                    <li><input type="text" value="FIND PRODUCTS" style="color:#004800;font-size:12px;width:150px;" /></li>
                    <li><a href="#" class="ImpPT0"><span class="glyphicon glyphicon-search"></span></a></li>
                </ul>-->
                <ul class="nav navbar-nav navbar-right">
                    <li style="padding-top: 15px"><input type="text" value="FIND PRODUCTS" style="color: #004800; font-size: 11px; width: 150px" /></li>
                    <li><a href="#"><img src="Images/eyeglass.png" /></a></li>
                </ul>
            </div>
            <!--</nav>-->
        </div>
    </header>
    <div class="container" style="background-image:url('Images/bacground.png');background-repeat:no-repeat;margin:auto;width:970px !important;">
        <div style="height:20px">
        </div>
        <div style="max-width: 700px; background-color: #9ab5d1;margin: auto;opacity: .80; -moz-opacity: .80; filter: alpha(opacity=80);">
            <div style="padding-left:50px;padding-right:50px;">
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="center">
                    <label class="tdHeading">Transparency Registry Sign-up</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <label class="tdContent" id="lblCompanyName">COMPANY NAME</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <input type="text" id="txtCompanyName" class="txtbgColor" />
                </div>
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <label class="tdContent" id="lblGlNumber">GLOBAL LOCATION NUMBER</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <input type="text" id="txtGlNum" class="txtbgColor" />
                </div>
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <label class="tdContent" id="lblGtin">GTIN / UPC</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <input type="text" id="txtGtin" class="txtbgColor" />
                </div>
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <label class="tdContent" id="lblProductname">PRODUCT NAME</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <input type="text" id="txtProdName" class="txtbgColor" />
                </div>
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
            </div>
            <div style="border:solid 1px white;width:90%;height:auto;margin:auto;">
                <div style="padding:15px">
                    <div class="col-sm-12" align="left">
                        <label class="tdContent" id="lblurl">URL</label>
                    </div>
                    <div class="clearBoth height5px">
                        &nbsp;
                    </div>
                    <div class="col-sm-12" align="left">
                        <input type="text" id="txtUrl" class="txtbgColor" />
                    </div>
                    <div class="clearBoth height10px">
                        &nbsp;
                    </div>
                    <div class="col-sm-12" align="left">
                        <label class="tdContent" id="lblurlType">URL TYPE</label>
                    </div>
                    <div class="clearBoth height5px">
                        &nbsp;
                    </div>
                    <div class="col-sm-12" align="left">
                        <input type="text" id="txtUrlType" class="txtbgColor" />
                    </div>
                    <div class="clearBoth height10px">
                        &nbsp;
                    </div>
                    <div class="col-sm-12" align="center">
                        <div style="border:solid 1px white;width:100px;height:30px;">
                            <a id="lnkAddAnother" class="tdContent" style="margin-top:5px;">Add Another</a>
                        </div>
                    </div>
                    <div class="clearBoth height10px">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="clearBoth height20px">
                &nbsp;
            </div>
        </div>
        <div class="clearBoth height20px">
            &nbsp;
        </div>
        <div class="col-sm-12" align="center">
            <input type="button" id="btnRegister" value="REGISTER" class="btnGreen" src="SearchResults.html" />
        </div>
        <div class="clearBoth" style="height:20px">
            &nbsp;
        </div>
    </div>
    <div style="height:50px;background-color:#666;width:970px;" class="container">
        <div style="float:left">
            <label style="color:white">HELP:support@worldsync.com</label>
        </div>
        <div style="float:right">
            <div>
                <div style="float:left">
                    <a style="color:white">Privacy Policy</a>
                </div>
                <div style="float:left">
                    <label style="padding-left:5px;padding-right:5px">|</label>
                </div>
                <div style="float:left">
                    <a style="color:white">Terms & Conditions</a>
                </div>
                <div style="float:left">
                    <label style="padding-left:5px;padding-right:5px">|</label>
                </div>
                <div style="float:left">
                    <a style="color:white">Antitrust Statement</a>
                </div>
            </div>
            <div style="clear:both;height:5px">
                &nbsp;
            </div>
            <div style="float:right">
                <label style="padding-left:5px;padding-right:5px">1Worldsync.All Rights Reserved.</label>
            </div>
        </div>
    </div>
</body>
</html>
