<!-- register.html -->
    <div class="container" style="background-image:url('Images/bacground.png');background-repeat:no-repeat;margin:auto;width:970px !important;">
        <div style="height:20px">
        </div>
        <div style="max-width: 700px; background-color: #9ab5d1;margin: auto;opacity: .80; -moz-opacity: .80; filter: alpha(opacity=80);">
            <div style="padding-left:50px;padding-right:50px;">
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="center">
                    <label class="tdHeading">Transparency Registry Sign-up</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <label class="tdContent" id="lblCompanyName">COMPANY NAME</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <input type="text" id="txtCompanyName" class="txtbgColor" />
                </div>
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <label class="tdContent" id="lblGlNumber">GLOBAL LOCATION NUMBER</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <input type="text" id="txtGlNum" class="txtbgColor" />
                </div>
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <label class="tdContent" id="lblGtin">GTIN / UPC</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <input type="text" id="txtGtin" class="txtbgColor" />
                </div>
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <label class="tdContent" id="lblProductname">PRODUCT NAME</label>
                </div>
                <div class="clearBoth height5px">
                    &nbsp;
                </div>
                <div class="col-sm-12" align="left">
                    <input type="text" id="txtProdName" class="txtbgColor" />
                </div>
                <div class="clearBoth height10px">
                    &nbsp;
                </div>
            </div>
            <div style="border:solid 1px white;width:90%;height:auto;margin:auto;">
                <div style="padding:15px">
                    <div class="col-sm-12" align="left">
                        <label class="tdContent" id="lblurl">URL</label>
                    </div>
                    <div class="clearBoth height5px">
                        &nbsp;
                    </div>
                    <div class="col-sm-12" align="left">
                        <input type="text" id="txtUrl" class="txtbgColor" />
                    </div>
                    <div class="clearBoth height10px">
                        &nbsp;
                    </div>
                    <div class="col-sm-12" align="left">
                        <label class="tdContent" id="lblurlType">URL TYPE</label>
                    </div>
                    <div class="clearBoth height5px">
                        &nbsp;
                    </div>
                    <div class="col-sm-12" align="left">
                        <input type="text" id="txtUrlType" class="txtbgColor" />
                    </div>
                    <div class="clearBoth height10px">
                        &nbsp;
                    </div>
                    <div class="col-sm-12" align="center">
                        <div style="border:solid 1px white;width:100px;height:30px;">
                            <a id="lnkAddAnother" class="tdContent" style="margin-top:5px;">Add Another</a>
                        </div>
                    </div>
                    <div class="clearBoth height10px">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="clearBoth height20px">
                &nbsp;
            </div>
        </div>
        <div class="clearBoth height20px">
            &nbsp;
        </div>
        <div class="col-sm-12" align="center">
            <input type="button" id="btnRegister" value="REGISTER" class="btnGreen" src="SearchResults.html" />
        </div>
        <div class="clearBoth" style="height:20px">
            &nbsp;
        </div>
    </div>
